<!DOCTYPE html>
<html lang="sv">

<head>
  <title>Evenemang</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Malmö Guiden</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">Kontakta oss</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Sök...">
            </div>
            <button type="submit" class="btn btn-default custom-button">Sök</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="#"><span class="glyphicon glyphicon-user"></span> Logga in</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div >
      <div class="bigmap">
        <iframe class="map" width= 1518px height= 320px frameborder="3" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.openstreetmap.org/export/embed.html?bbox=12.95644283294678%2C55.60555393225938%2C12.99661159515381%2C55.62089631976267&amp;layer=mapnik&amp;marker=55.61322587638706%2C12.976527214050293"
          style="border: 3px solid black">
        </iframe>>
    </div>
    <div class="main">
      <div class="row">
        <div class="first_row">
          <div class="col-sm-4">
            <div class="Sevärdheter_Malmö">
              <img src="../static/malmöfestivalen.jpg">
            </div>
            <h2>Malmöfestivalen</h2>
            <p>Malmöfestivalen är en av Nordens största kulturfestivaler som hålls årligen i Malmö. Festivalen pågår i
              en vecka och innehåller ett brett utbud av evenemang och aktiviteter för alla åldrar, inklusive
              musikuppträdanden, matmarknader, konstutställningar, föreläsningar och filmvisningar. Under festivalveckan
              förvandlas hela staden till en enda stor festplats med gatumusikanter, dansare och artister som
              underhåller besökarna på stadens torg och gator. Festivalen avslutas traditionellt med en stor
              fyrverkerishow. Malmöfestivalen är en härlig möjlighet för turister att uppleva Malmö och ta del av
              stadens kultur och historia. </p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.6060%2C13.0000#map=16/55.6075/13.0001">Se
                på kartan</a></p>
            <p><a class="btn btn-default" href="https://www.malmofestivalen.se/">Malmöfestivalens webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="Boenden">
              <img src="../static/malmögallerynight.jpg">
            </div>
            <h2>Malmö Gallery Weekend</h2>
            <p>Malmö Gallery Weekend är en årlig konsthelg som hålls i maj i Malmö. Evenemanget äger rum på de olika
              konstgallerierna i området kring Mayfair Hotel Tunneln och modera museet och ger besökarna möjlighet att
              uppleva konst och kultur på en unik och spännande nivå. Under natten kommer gallerierna att hålla öppet
              längre än vanligt och erbjuda ett brett utbud av utställningar, vernissager, musik och mingel. Mayfair
              Gallery Night är ett utmärkt tillfälle att upptäcka nya konstnärer och få en inblick i Malmös blomstrande
              konstscen. </p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.60462%2C13.00956">Se
                på kartan</a></p>
            <p><a class="btn btn-default"
                href="https://www.modernamuseet.se/malmo/en/event/malmo-gallery-weekend/">Malmö Gallery Weekends
                webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="restaurang">
              <img src="../static/malmöinternational.jpg">
            </div>
            <h2>Malmö International Film Festival</h2>
            <p>Malmö International Film Festival är en årlig filmfestival som äger rum i Malmö under hösten. Festivalen
              har funnits sedan 1985 och fokuserar på att visa både inhemska och internationella filmer från olika
              genrer. Under festivalen visas runt 170 filmer från över 50 länder, varav många är internationella
              premiärer. Det finns också en tävlingssektion där olika filmer tävlar om priser och utmärkelser. Förutom
              filmvisningar finns det även seminarier, paneldebatter och workshops för besökare att delta i. Festivalen
              lockar besökare från hela världen och är ett populärt evenemang för både filmälskare och turister i Malmö.
            </p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.60550%2C13.00063">Se
                på kartan</a></p>
            <p><a class="btn btn-default"
                href="https://www.mime.news/posts/malmo-arab-film-fest-announces-next-years-dates">Malmö Internationals
                webbsida</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="shopping">
            <img src="../static/sommarscen.jpeg">
          </div>
          <h2>Sommarscen Malmö</h2>
          <p>Sommarscen Malmö är en årlig sommarfestival som fokuserar på att erbjuda en variation av kulturupplevelser,
            som musik, teater, dans och konst. Festivalen äger rum under hela sommaren, från juni till augusti, och har
            ett brett utbud av evenemang som passar för alla åldrar och smaker. Festivalen hålls på flera platser runt
            om i Malmö, inklusive stadsparken och Folkets park, och har en blandning av både gratis och betalda
            evenemang. Sommarscen Malmö är en perfekt möjlighet för turister att uppleva den rika kultur som staden har
            att erbjuda under sommarmånaderna. </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.58858%2C12.99287#map=13/55.5989/12.9967">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://malmo.se/Malmo-Sommarscen.html">Sommarscens webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="evenemang">
            <img src="../static/jazzfest.jpg">
          </div>
          <h2>Malmö Jazz Festival</h2>
          <p>Malmö Jazz Festival är en årlig festival som äger rum i Malmö och fokuserar på jazzmusik. Festivalen
            grundades 1990 och har sedan dess utvecklats till en av de största jazzfestivalerna i Skandinavien. Under
            festivalen spelar både nationella och internationella artister på olika platser runt om i staden, som t.ex.
            klubbar, konsertlokaler och utomhusplatser. Festivalen är känd för att erbjuda en varierad mix av
            jazzstilar, från klassisk jazz till mer experimentell och modern jazz. Utöver musiken arrangeras också
            filmvisningar, föreläsningar och workshops.</p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.6041%2C13.0011#map=18/55.60406/13.00057">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://jazzimalmo.com/">Malmö Jazzfestivals webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="uteliv">
            <img src="../static/streetfood.jpg">
          </div>
          <h2>Malmö Street Food Festival</h2>
          <p>Malmö Streetfood Festival är en årlig festival som äger rum i Malmö under sommarmånaderna. Festivalen
            bjuder på en mängd olika matupplevelser från olika delar av världen och har fokus på streetfood-konceptet.
            Besökare kan njuta av allt från burgare och tacos till dumplings och friterade rätter. Utöver maten erbjuder
            festivalen också musikunderhållning, konst och hantverksstånd, och en familjevänlig atmosfär. Festivalen är
            gratis att besöka och är ett måste för matälskare som vill uppleva en smak av Malmös gatuköksscenen. </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.60556%2C12.99911#map=16/55.6068/12.9990">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://streetfoodfestivalen.se/">Malmö Streetfoods webbsida</a></p>
          <br>
        </div>
        <div class="col-sm-4">
          <div class="kultur">
            <img src="../static/burlesque.jpg">
          </div>
          <h2>Malmö Burlesque Festival</h2>
          <p>Malmö Burlesque Festival är en årlig festival som firar burleskens konstform genom att bjuda på en rad
            olika shower, workshops och evenemang. Festivalen sträcker sig över flera dagar och lockar till sig artister
            från hela världen för att uppträda. Förutom föreställningar finns det också möjligheter för besökare att
            delta i workshops och lära sig mer om burleskens historia och tekniker. Festivalen är en av de mest populära
            i sitt slag i Europa och lockar till sig både burlesque-entusiaster och nyfikna besökare från hela världen.
          </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5902%2C13.0105#map=13/55.5996/13.0069">Se
              på kartan</a></p>
          <p><a class="btn btn-default"
              href="https://www.kurser.se/utbildning/malmo-dansakademi/burlesque-chairdance-50298">Burlesques
              webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="dolda_pärlor">
            <img src="../static/fotobienal.jpg">
          </div>
          <h2>Malmö Fotobiennal</h2>
          <p>Malmö Fotobiennal är en internationell fotoutställning som hålls vartannat år i Malmö. Biennalen fokuserar
            på samtidsfotografi och visar upp olika aspekter av fotokonst från hela världen. Utställningarna är spridda
            över hela staden och inkluderar allt från gallerier till utomhusinstallationer. Under biennalen hålls även
            workshops, föreläsningar och seminarier där besökare kan lära sig mer om fotografi. Malmö Fotobiennal är ett
            populärt evenemang för både fotografer och allmänheten och är en av de största fotobiennalerna i Norden.</p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5901%2C12.9852#map=13/55.5996/12.9932">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="http://malmofotobiennal.com/">Malmö Fotobiennals webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="sport">
            <img src="../static/malmöopen.webp">
          </div>
          <h2>Malmö Open</h2>
          <p>
            Malmö Open är en internationell tennisturnering som hålls årligen i Malmö. Turneringen grundades 1992 och
            har sedan dess lockat en rad stora tennisspelare från hela världen. Malmö Open arrangeras på inomhusbanor i
            Malmö Arena och lockar tusentals åskådare varje år. Förutom professionell tennis så inkluderar evenemanget
            också en rad andra aktiviteter såsom föreläsningar och workshops för tennisintresserade i alla åldrar.
            Turneringen är ett av Malmös mest populära sportevenemang och är väl värt ett besök för alla som är
            intresserade av tennis eller bara vill uppleva spänningen och atmosfären i en internationell sporttävling.
          </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5836%2C12.9916#map=13/55.5966/12.9965">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.malmo-open.com/">Malmö opens webbsida</a></p>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>© 2023 Malmö Guiden</p>
    </footer>
  </div>

</body>

</html>