<!DOCTYPE html>
<html>

<head>
  <title>Malmö Guiden</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Malmö Guiden</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="navbar-left"><a href="{{ url_for('kontakt') }}"><span class="glyphicon glyphicon-user"></span>
              Kontakta oss</a></li>
            </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Sök...">
            </div>
            <button type="submit" class="btn btn-default custom-button">Sök</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span>
                Registrera dig</a></li>
            <li class="navbar-right"><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span>
                Logga in</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron text-center">

     <iframe class="map"
     width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      src="https://www.openstreetmap.org/export/embed.html?bbox=12.95644283294678%2C55.60555393225938%2C12.99661159515381%2C55.62089631976267&amp;layer=mapnik&amp;marker=55.61322587638706%2C12.976527214050293"
      style="border: 1px solid black">
     </iframe>
     
     
      
      
    </div>
   
    <div class="main">
      <div class="row">
        <div class="first_row">
          <div class="col-sm-4">
            <div class="Sevärdheter_Malmö">
              <img src="../static/Sevärdheter_Malmö.jpg">
            </div>
            <h2>Sevärdheter</h2>
            <p>Här kan du läsa om de bästa sevärdheterna i Malmö och upptäcka stadens vackraste landvärken.</p>
            <p><a class="btn btn-default" href="{{ url_for('sevardheter') }}">Läs mer »</a></p>
          </div>
          <div class="col-sm-4">
            <div class="Boenden">
              <img src="../static/Boenden.jpg">
            </div>
            <h2>Boenden</h2>
            <p>Vi listar de bästa hotellen, vandrarhemmen och lägenheterna i Malmö.</p>
            <p><a class="btn btn-default" href="{{ url_for('boenden') }}">Läs mer »</a></p>
          </div>
          <div class="col-sm-4">
            <div class="restaurang">
              <img src="../static/Restaurang.jpg">
            </div>
            <h2>Restauranger</h2>
            <p>Upptäck de bästa restaurangerna och caféerna i Malmö med högst kvalitet och bäst pris.</p>
            <p><a class="btn btn-default" href="{{ url_for('restauranger') }}">Läs mer »</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="shopping">
            <img src="../static/shopping.jpg">
          </div>
          <h2>Shopping</h2>
          <p>Här hittar du information om de bästa shoppingområdena och butikerna i Malmö.</p>
          <p><a class="btn btn-default" href="{{ url_for('shopping') }}">Läs mer »</a></p>
        </div>
        <div class="col-sm-4">
          <div class="evenemang">
            <img src="../static/evenemang.jpg">
          </div>
          <h2>Evenemang</h2>
          <p>Här listar vi de största evenemangen och festivalerna i Malmö.</p>
          <p><a class="btn btn-default" href="{{ url_for('evenemang') }}">Läs mer »</a></p>
        </div>
        <div class="col-sm-4">
          <div class="uteliv">
            <img src="../static/uteliv.jpg">
          </div>
          <h2>Uteliv</h2>
          <p>Här listar vi de bästa pubarna och nattklubbarna i Malmö för ditt uteliv.</p>
          <p><a class="btn btn-default" href="{{ url_for('uteliv') }}">Läs mer »</a></p>
          <br>
        </div>
        <div class="col-sm-4">
          <div class="kultur">
            <img src="../static/kultur.webp">
          </div>
          <h2>Kultur</h2>
          <p>Upptäck olika spännande kulturella intressen och konstverk i Malmö</p>
          <p><a class="btn btn-default" href="{{ url_for('kultur') }}">Läs mer »</a></p>
        </div>
        <div class="col-sm-4">
          <div class="dolda_pärlor">
            <img src="../static/dolda_pärlor.jpg">
          </div>
          <h2>Malmös dolda pärlor</h2>
          <p>Upptäck de dolda pärlorna i Malmö: En guide till de bästa gömda platserna och upplevelserna!</p>
          <p><a class="btn btn-default" href="{{ url_for('dolda_parlor') }}">Läs mer »</a></p>
        </div>
        <div class="col-sm-4">
          <div class="sport">
            <img src="../static/sport.jpg">
          </div>
          <h2>Sport</h2>
          <p>Vi listar de attraktivaste gymmen och platser för din favorit sport i Malmö</p>
          <p><a class="btn btn-default" href="{{ url_for('sport') }}">Läs mer »</a></p>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>© 2023 Malmö Guiden</p>
    </footer>
  </div>

</body>

</html>