<!DOCTYPE html>
<html lang="sv">

    <head>
        <title> Kontakt - Malmö Guiden</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">Malmö Guiden</a>
                </div>
        <div class ="background_reg">
            <div class="reg_container">
            </div>
            <h1 class="mt-5">Kontakta oss</h1>
            <h3 class="mt-5"> Mail: Mauguide@support.se</h3>
            <h3 class="mt-5">Tel: 073 465 88 43</h3>
     </body>
   
    