<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Registrera dig</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <!-- Lägg till Bootstrap-stilmall -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <div class="background_reg">
    <div class="reg_container">
      <h1 class="mt-5">Registrera konto</h1>
      <form action="/register" method="POST" class="mt-4">
        <div class="form_reg">
          <b><label for="email">E-mailadress:</label></b>
          <input type="text" class="form-control" id="email" name="email" required><br>
          <b><label for="username">Användarnamn:</label></b>
          <input type="text" class="form-control" id="username" name="username" required><br>
          <b><label for="password">Lösenord:</label></b>
          <input type="password" class="form-control" id="password" name="password" required>
          <div id="regbutton">
            <button type="submit" class="btn btn-default">Registrera</button>
          </div>
        </div>
    </div>
    <!-- Lägg till Bootstrap JavaScript-fil -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>