<!DOCTYPE html>
<html>


 <head>

<head>

    <title>MalmöGuiden</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </head>

 <body>

</head>

<body>

    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Malmö Guiden</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Kontakta oss</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Sök...">
                        </div>
                        <button type="submit" class="btn btn-default custom-button">Sök</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-right"><a href="#"><span class="glyphicon glyphicon-user"></span> Logga in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        
    </div>
    <div class="malmoslottkarta">
        <iframe width="70%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=12.984096407890322%2C55.6037327137039%2C12.990995049476625%2C55.60582668550089&amp;layer=mapnik&amp;marker=55.60477971357565%2C12.987545728683472"
            style="border: 1px solid black"></iframe><br /><small><a
                href="https://www.openstreetmap.org/?mlat=55.60478&amp;mlon=12.98755#map=18/55.60478/12.98755&amp;layers=N">View
                Larger Map</a></small>
    </div>
 </body>
    <div class="slottext">
        <h2>Malmöslott hus</h2>
        <p>I mitten av slottsparken ligger det gamla slottet från 1400-talet. Dess historiska och viktiga plats har tillfört mycket för Malmös kultur.</p>

    </div>

</html>