<!DOCTYPE html>
<html>

<head>
  <title>Restauranger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Malmö Guiden</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">Kontakta oss</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Sök...">
            </div>
            <button type="submit" class="btn btn-default custom-button">Sök</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="#"><span class="glyphicon glyphicon-user"></span> Logga in</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1>Malmö Guiden</h1>
      <h3>Upptäck Malmö med vår turistguide</h3>
    </div>
    <div class="main">
      <div class="row">
        <div class="first_row">
          <div class="col-sm-4">
            <div class="Sevärdheter_Malmö">
              <img src="../static/malmöhusslott.jpg">
            </div>
            <h2>Malmöhus slott</h2>
            <p>Malmöhus slott är en av Malmös mest besökta sevärdheter och ett av de äldsta bevarade renässansslotten i Norden. Beläget i centrala Malmö, erbjuder det besökarna en fascinerande inblick i stadens historia och kultur. Slottet byggdes på 1400-talet och var ursprungligen en borg, men omvandlades sedan till ett kungligt slott. Det har en imponerande samling av konst, möbler och föremål från Malmös rika historia och är också hem till flera utställningar och evenemang under året. Besökare kan också njuta av vackra trädgårdar och en panoramautsikt över staden från slottstornet. En absolut måste-se plats för alla besökare i Malmö som är intresserade av historia och arkitektur!</p>
            <p><a class="btn btn-default" href="...">Se på kartan</a></p>
            <p><a class="btn btn-default" href="https://malmo.se/Uppleva-och-gora/Konst-och-museer/Malmo-museum/Besok-Malmo-museum/Vara-byggnader/Slottsholmen/Malmohus-slott.html">Malmöhus slott webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="Boenden">
              <img src="../static/turningtorso.jpg">
            </div>
            <h2>Turning Torso</h2>
            <p>Turning Torso är en modern skyskrapa belägen i den västra hamnen i Malmö. Designad av den spanska arkitekten Santiago Calatrava är Turning Torso en imponerande syn med sina 190 meter och 54 våningar. Byggnaden är den högsta i Skandinavien och bjuder på en fantastisk utsikt över staden och havet. Förutom att vara en arkitektoniskt imponerande byggnad har Turning Torso också en kulturhistorisk betydelse för Malmö, då den är ett symboliskt landmärke som representerar stadens framtid och mångfald. Ett besök på Turning Torso är ett måste för alla besökare som vill uppleva Malmös moderna arkitektur och panoramautsikten från dess topp.</p>
            <p><a class="btn btn-default" href="...">Se på kartan</a></p>
            <p><a class="btn btn-default" href="https://www.hsb.se/malmo/om-boende/hyreslagenhet/turning-torso--malmos-landmarke/">Turning Torsos webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="restaurang">
              <img src="../static/malmökonsthall.jpg">
            </div>
            <h2>Malmö Konsthall</h2>
            <p>Malmö Konsthall är en spektakulär konstinstitution centralt i Malmö. Konsthallen rymmer en imponerande samling modern och samtida konst från både svenska och internationella konstnärer, inklusive installationer, målningar, skulpturer och fotografier. Utställningarna ändras regelbundet, så det finns alltid något nytt att upptäcka. Konsthallens arkitektur är också en del av upplevelsen med sin stora, öppna entréhall och imponerande takkonstruktion. Besökare kan njuta av en avslappnad och inspirerande atmosfär där de kan utforska konsten i sin egen takt. Malmö Konsthall är en idealisk plats för alla som vill uppleva några av de mest spännande konstverken från vår tid.</p>
            <p><a class="btn btn-default" href="...">Se på kartan</a></p>
            <p><a class="btn btn-default" href="https://malmokonsthall.se/">Malmö Konsthalls webbsida</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="shopping">
            <img src="../static/riberborgsstranden.jpg">
          </div>
          <h2>Ribersborgsstranden</h2>
          <p>Ribersborgsstranden, även känd som "Ribban" av lokalbefolkningen, är en av Malmös mest populära stränder och en av stadens mest omtyckta platser att besöka.

            Stranden har en mängd faciliteter, inklusive omklädningsrum, duschmöjligheter och en mängd olika restauranger och caféer. Dessutom finns det en populär bastu som besökare kan hyra för en unik och avkopplande upplevelse.
            
            Där finns även Kallbadhuset, en byggnad med en rik historia och en populär plats att besöka.</p>          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://malmo.se/Uppleva-och-gora/Bada-och-simma/Strander-och-badplatser/Ribersborgsstranden.html">Ribersborgsstrandens webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="evenemang">
            <img src="../static/stpetrikyrka.jpg">
          </div>
          <h2>St. Petri kyrka</h2>
          <p>St. Petri kyrka är en av de mest imponerande kyrkorna i Malmö, som har varit en viktig plats för religiös och kulturell betydelse i över 700 år. Kyrkan har en imponerande arkitektur med sin gotiska stil och stora glasmålningar som visar scener från Bibeln. Besökare kan också uppleva den vackra musiken som spelas under gudstjänster och konserter, och utforska kyrkans rika historia genom att besöka dess museum. St. Petri kyrka är en oförglömlig sevärdhet som är väl värt ett besök för turister.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.svenskakyrkan.se/malmo/stpetrikyrka">St. Petri kyrkas webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="uteliv">
            <img src="../static/pildammsparken.jpg">
          </div>
          <h2>Pildammsparken</h2>
          <p>Pildammsparken i Malmö är en vacker och avkopplande park som lockar besökare från när och fjärran. Parken, som ligger bara några minuters promenad från stadens centrum, erbjuder grönska, sjöar, broar, fontäner och en rad skulpturer och konstverk att beundra. Här kan du ta en promenad eller jogga runt sjöarna, slå dig ner på en filt för en picknick eller bara njuta av den vackra omgivningen. Parken är också värd för ett antal evenemang under året, som konserter, festivaler och marknader.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://malmo.se/Uppleva-och-gora/Natur-och-parker/Parker-i-Malmo/Pildammsparken.html">Pildammsparkens webbsida</a></p>
          <br>
        </div>
        <div class="col-sm-4">
          <div class="kultur">
            <img src="../static/gamlaväster.jpg">
          </div>
          <h2>Gamla Väster</h2>
          <p>Gamla Väster är en charmig och pittoresk stadsdel i centrala Malmö, känt för sina kullerstensgator och vackra historiska byggnader. Här hittar man ett brett utbud av butiker, caféer, barer och restauranger, samt några av stadens mest imponerande arkitektoniska sevärdheter. Promenera längs de små gatorna och upptäck allt från eleganta designbutiker till vintageaffärer och konstgallerier. Här finns också flera gröna parker att utforska, som Pildammsparken och Slottsparken, vilket gör Gamla Väster till en perfekt plats att tillbringa en dag på för turister som vill uppleva Malmös charm.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://sv.wikipedia.org/wiki/Gamla_V%C3%A4ster">Gamla Västers webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="dolda_pärlor">
            <img src="../static/modernamuseet.jpg">
          </div>
          <h2>Moderna Museet Malmö</h2>
          <p>Moderna Museet Malmö är en filial av det kända svenska museet och ligger i en spektakulär byggnad i stadens hamn. Här kan besökare uppleva en spännande samling av svensk och internationell modern konst och design, samt utställningar och evenemang som speglar samtida kultur och samhällsfrågor. Museet har också en härlig uteservering med utsikt över havet, där besökarna kan njuta av en kopp kaffe eller en läcker måltid. Med sitt imponerande utbud av konst och kulturaktiviteter är Moderna Museet Malmö ett måste för besökare som vill uppleva den moderna sidan av Malmö.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.modernamuseet.se/malmo/sv/">Moderna Museets webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="sport">
            <img src="../static/kungsparken.jpg">
          </div>
          <h2>Kungsparken</h2>
          <p>Kungsparken är en vacker och lugn oas mitt i Malmö som är väl värd ett besök för turister. Parken är en av Malmös mest historiska platser och har varit en populär plats för promenader och avkoppling sedan 1800-talet. Här kan du njuta av den vackra miljön, ta en picknick på gräsmattan eller ta en lugn promenad längs de vackra dammarna och fontänerna. Parken är också hem till flera konstverk och statyer som är intressanta att utforska. Kungsparken är en idealisk plats för avkoppling efter en lång dag med sightseeing i Malmö.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://malmo.se/Uppleva-och-gora/Natur-och-parker/Parker-i-Malmo/Kungsparken.html">Kungsparkens webbsida</a></p>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>© 2023 Malmö Guiden</p>
    </footer>
  </div>

</body>

</html>