<!DOCTYPE html>
<html>

<head>
  <title>Shopping</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Malmö Guiden</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">Kontakta oss</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Sök...">
            </div>
            <button type="submit" class="btn btn-default custom-button">Sök</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="#"><span class="glyphicon glyphicon-user"></span> Logga in</a></li>
          </ul>
          <img src="static/moon.png" id="icon" onklick="changeImage()">

        </div>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1>Malmö Guiden</h1>
      <h3>Upptäck Malmö med vår turistguide</h3>
    </div>
    <div class="main">
      <div class="row">
        <div class="first_row">
          <div class="col-sm-4">
            <div class="Sevärdheter_Malmö">
              <img src="../static/Triangeln.jpg">
            </div>
            <h2>Triangeln</h2>
            <p>Triangeln Köpcenter är ett av Malmös största shoppingcenter, beläget i stadens centrala delar och med
              lätt tillgänglighet med både buss och tåg. Köpcentret erbjuder ett stort utbud av butiker och varumärken
              inom mode, skönhet, elektronik och livsmedel. Här finns även en biograf, flera restauranger och kaféer
              samt en takterrass med utsikt över staden. Triangeln Köpcenter har öppet alla dagar i veckan och är en
              populär destination för både turister och lokalbefolkning. </p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5933%2C13.0010#map=13/55.6012/12.9999">Se
                på kartan</a></p>
            <p><a class="btn btn-default" href="https://www.triangeln.com/sv/">Triangelns webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="Boenden">
              <img src="../static/caroli.jpg">
            </div>
            <h2>Caroli City</h2>
            <p>Caroli City är ett köpcentrum i centrala Malmö, beläget i närheten av centralstationen. Här finns ett
              brett utbud av butiker, restauranger och caféer på fyra våningar. Köpcentret har också flera olika
              evenemang och aktiviteter, såsom modevisningar, konserter och andra kulturella evenemang.

              Caroli City har en modern arkitektur och en ljus och öppen design som ger en trevlig shoppingupplevelse.
              Förutom shopping erbjuder dem restauranger och cafeer.</p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.60657%2C13.00749#map=17/55.60619/13.00752">Se
                på kartan</a></p>
            <p><a class="btn btn-default" href="https://caroli.se/">Carolis webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="restaurang">
              <img src="../static/möllevångstorget.jpg">
            </div>
            <h2>Möllevågstorget</h2>
            <p>Möllevågstorget är ett livligt torg som ligger i hjärtat av Malmö och är känt för sin mångfaldiga kultur
              och atmosfär. Här finner du en mix av matbutiker, småbutiker, restauranger, och caféer från olika delar av
              världen. Torgdagarna på onsdagar och lördagar är populära bland turister och lokalbefolkningen, där du kan
              hitta allt från färsk frukt och grönsaker till second-hand-kläder och konsthantverk. Kvällstid är torget
              populärt bland studenter och unga människor som gärna umgås här.
            </p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.59166%2C13.00812#map=13/55.6005/13.0050">Se
                på kartan</a></p>
            <p><a class="btn btn-default"
                href="https://malmo.se/Uppleva-och-gora/Arkitektur-och-kulturarv/Malmos-historia/Platser-och-byggnader/Malmos-torg/Mollevangstorget.html">Möllevågstorgets
                webbsida</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="shopping">
            <img src="../static/shopping.jpg">
          </div>
          <h2>Emporia</h2>
          <p>Emporia är en stor shoppingdestination som ligger i Hyllie, Malmö. Det är en modern och stilren byggnad som
            innehåller en mängd olika butiker och restauranger, med något för alla smaker och plånböcker. Emporia har
            också ett stort utbud av underhållning, inklusive en biograf och en lekplats för barn. Det finns gott om
            parkeringsplatser tillgängliga och Emporia är också lätt att nå med kollektivtrafik. Totalt sett är Emporia
            en populär destination för både lokalbefolkningen och turister som vill shoppa, äta och ha kul i Malmö.</p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5643%2C12.9732#map=12/55.5862/12.9874">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://emporia.steenstrom.se/">Emporias webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="evenemang">
            <img src="../static/sodraforstadsgatan.jpg">
          </div>
          <h2>Södra Förstadsgatan</h2>
          <p>Södra Förstadsgatan är en populär shoppinggata i Malmö som erbjuder en unik och varierad
            shoppingupplevelse. Gatan sträcker sig från Triangeln köpcentrum till Gustav Adolfs torg och har en
            blandning av välkända varumärken och mindre oberoende butiker.

            Här kan turister hitta allt från kläder och accessoarer till antikviteter och inredningsprylar. Gatan är
            också känd för sin livliga atmosfär och mångfald av restauranger och caféer.

            Södra Förstadsgatan är belägen i närheten av Malmö konsthall och Folkets Park.</p>
          <p><a class="btn btn-default" href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5987%2C13.0010#map=15/55.5965/13.0001">Se på kartan</a></p>
          <p><a class="btn btn-default"
              href="https://malmo.se/Uppleva-och-gora/Arkitektur-och-kulturarv/Malmos-historia/Platser-och-byggnader/Gator-broar-och-vagar/Sodra-Forstadsgatan.html">Södra
              Förstadsgatans webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="uteliv">
            <img src="../static/entre.jpg">
          </div>
          <h2>Entré Malmö</h2>
          <p>Entré Malmö är ett köpcentrum beläget i centrala Malmö och är ett populärt shoppingområde för turister och
            lokalbefolkningen. Köpcentret rymmer ett brett utbud av butiker som säljer allt från kläder och accessoarer
            till teknikprylar och skönhetsprodukter. Det finns även flera restauranger och caféer att välja mellan för
            en paus i shoppingen. Entré Malmö har en modern design och atmosfär med mycket ljus och öppenhet. Med sitt
            centrala läge är det lätt att ta sig hit med både buss och tåg.
          </p>
          <p><a class="btn btn-default" href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.60763%2C13.02475">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.entremalmo.se/">Entrés webbsida</a></p>
          <br>
        </div>
        <div class="col-sm-4">
          <div class="kultur">
            <img src="../static/davidhallstorg.jpg">
          </div>
          <h2>Davidhallstorg</h2>
          <p>Davidshallstorg är en av Malmös mest populära platser för shopping. Torget har ett brett utbud av butiker
            och varuhus med allt från kläder och accessoarer till heminredning och elektronik. Här kan man hitta både
            stora internationella kedjor och mindre lokala butiker. Torget är också känt för sina restauranger och
            kaféer där besökarna kan ta en paus från shoppingen och njuta av god mat och dryck. Davidshallstorg ligger
            centralt i Malmö, vilket gör det enkelt att ta sig dit.
          </p>
          <p><a class="btn btn-default" href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.59958%2C12.99802#map=14/55.6044/12.9996">Se på kartan</a></p>
          <p><a class="btn btn-default"
              href="https://malmo.se/Uppleva-och-gora/Arkitektur-och-kulturarv/Malmos-historia/Platser-och-byggnader/Stadsdelar-och-omraden/Davidshall.html">Davidhallstorgs
              webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="dolda_pärlor">
            <img src="../static/hansacity.jpg">
          </div>
          <h2>Hansa City</h2>
          <p>Hansa City är ett köpcentrum som ligger i centrala Malmö. Köpcentret har över 50 butiker som erbjuder allt
            från kläder till mat och elektronik. Hansa City är känt för sina stora butiker som H&M, Intersport och
            Hemtex. Det finns även flera restauranger och caféer för besökarna att välja mellan. Köpcentret har en ljus
            och modern atmosfär och det är enkelt att hitta hit med både buss och tåg. Hansa City är ett utmärkt
            alternativ för den som vill shoppa och uppleva Malmö.
          </p>
          <p><a class="btn btn-default" href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.6051%2C13.0234#map=15/55.6070/13.0119">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://hansamalmo.se/">Hansa Citys webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="sport">
            <img src="../static/värnhemstorget.jpg">
          </div>
          <h2>Värnhemstorget</h2>
          <p>Värnhemstorget är en av Malmös största knutpunkter för kollektivtrafik och ligger vid Värnhem. Här finns
            ett stort köpcentrum som är välbesökt av både lokalbefolkning och turister. I köpcentret finns ett brett
            utbud av butiker som säljer kläder, skor, accessoarer, teknik och mycket mer. Utöver butikerna finns även
            flera matställen, caféer och restauranger att välja mellan, vilket gör Värnhemstorget till en perfekt plats
            för att shoppa och ta en paus med något gott att äta.
          </p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default"
              href="https://malmo.se/Malmo-Sommarscen/Vara-spelplatser/Varnhemstorget.html">Värnhemstorget webbsida</a>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>© 2023 Malmö Guiden</p>
    </footer>
  </div>
  <script>
    
    var icon = document.getElementById("icon");

    icon.onclick = function () {
    document.body.classList.toggle("dark-theme");
    if(document.body.classList.contains("dark-theme")){
      icon.src="static/sun.png";
    }else{
      icon.src="static/moon.png";
    }
  }

  </script>
</body>

</html>