<!DOCTYPE html>
<html>

<head>
  <title>Sport</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Malmö Guiden</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">Kontakta oss</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Sök...">
            </div>
            <button type="submit" class="btn btn-default custom-button">Sök</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="#"><span class="glyphicon glyphicon-user"></span> Logga in</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="bigmap">
      <iframe class="map" width= 1518px height= 320px frameborder="3" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=12.95644283294678%2C55.60555393225938%2C12.99661159515381%2C55.62089631976267&amp;layer=mapnik&amp;marker=55.61322587638706%2C12.976527214050293"
        style="border: 3px solid black">
      </iframe>
    </div>
    <div class="main">
      <div class="row">
        <div class="first_row">
          <div class="col-sm-4">
            <div class="Sevärdheter_Malmö">
              <img src="../static/malmöarena.jpg">
            </div>
            <h2>Malmö Arena</h2>
            <p>Malmö Arena är en stor evenemangsarena belägen i stadsdelen Hyllievång i Malmö. Arenan byggdes 2008 och är den tredje största inomhusarenan i Sverige, med en kapacitet på upp till 15 500 personer. Här hålls olika evenemang, såsom konserter, sportevenemang och mässor, året runt. Arenan har även flera restauranger och barer, samt en shoppinggalleria. För turister som besöker Malmö kan Malmö Arena vara ett spännande resmål.</p>
            <p><a class="btn btn-default" href="...">Se på kartan</a></p>
            <p><a class="btn btn-default" href="https://www.malmoarena.com">Malmö Arenas webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="Boenden">
              <img src="../static/kockums.jpg">
            </div>
            <h2>Kockums Fritid</h2>
            <p>Kockums Fritid är en populär sport- och fritidsanläggning belägen i centrala Malmö. Här kan turister och lokalbefolkning njuta av ett brett utbud av aktiviteter som gymträning, gruppträning, squash, badminton, simning, bastu och mycket mer. Anläggningen har moderna faciliteter och en härlig atmosfär som gör den till en av de mest eftertraktade sportanläggningarna i staden. För turister som vill träna eller koppla av på semestern är Kockums Fritid ett utmärkt val.</p>
            <p><a class="btn btn-default" href="...">Se på kartan</a></p>
            <p><a class="btn btn-default" href="https://kockumfritid.se">Kockums webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="restaurang">
              <img src="../static/badmintoncenter.jpg">
            </div>
            <h2>Malmö Badminton Center</h2>
            <p>Malmö Badminton Center är en toppmodern anläggning som är inriktad på badminton och är öppen för alla. Här finns 17 banor i världsklass och en mängd andra faciliteter som omklädningsrum, bastu och café. Anläggningen är populär bland både amatörer och professionella spelare och är ett utmärkt val för besökare som vill spela badminton i Malmö. Besökare kan också delta i träningspass och workshops som anordnas regelbundet av kunniga instruktörer.</p>
            <p><a class="btn btn-default" href="...">Se på kartan</a></p>
            <p><a class="btn btn-default" href="https://malmobadmintoncenter.se/">Malmö Badmintoncenters webbsida</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="shopping">
            <img src="../static/kronprinsenstennis.jpg">
          </div>
          <h2>Kronprinsens Tennisklubb</h2>
          <p>Kronprinsens Tennisklubb i Malmö är en anläggning med 14 banor som är öppen för allmänheten. Här finns både utomhus- och inomhusbanor, samt en träningsanläggning och en klubbshop. Klubben är populär bland både nybörjare och professionella spelare, och erbjuder även träningsprogram och tävlingar.</a></p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.kronprinsenstk.se">Kronprinsens Tennisklubbs webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="evenemang">
            <img src="../static/riberborgs-kallbadhus.jpg">
          </div>
          <h2>Ribersborgs kallbadhus</h2>
          <p>Riberborgs Kallbadhus är en historisk badanläggning i Malmö som är öppen året runt. Här kan besökare njuta av en traditionell bastuupplevelse och simma i havet, med tillgång till både dam- och herravdelning samt en gemensam bastu. Anläggningen är populär bland både lokalbefolkningen och turister som söker avkoppling och en unik badupplevelse.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.ribersborgskallbadhus.se">Riberborgs Kallbadhus webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="uteliv">
            <img src="../static/hylliebadet.webp">
          </div>
          <h2>Hylliebadet</h2>
          <p>Hylliebadet i Malmö är en modern badanläggning som erbjuder både inomhus- och utomhusbassänger, vattenrutschbanor, bastu och gym. Anläggningen är öppen för allmänheten och är en populär destination för besökare som vill simma och träna i Malmö.
            Hylliebadet har också en avslappnad och familjevänlig atmosfär.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://malmo.se/Uppleva-och-gora/Bada-och-simma/Hylliebadet.html">Hylliebadets webbsida</a></p>
          <br>
        </div>
        <div class="col-sm-4">
          <div class="kultur">
            <img src="../static/malmöip.jpg">
          </div>
          <h2>Malmö Idrottsplats</h2>
          <p>Malmö idrottsplats är en av de mest ikoniska idrottsanläggningarna i Sverige och har varit värd för flera stora evenemang genom åren. Anläggningen har en kapacitet på över 24 000 åskådare och är hemmaplan för Malmö FF, en fotbollsklubb i Malmö. Malmö Idrottsplats är en stor arena som används för en mängd olika sportevenemang, inklusive fotboll, friidrott och ishockey. Arenan är belägen i centrala Malmö.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://sv.wikipedia.org/wiki/Malm%C3%B6_IP">Malmö IPs webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="dolda_pärlor">
            <img src="../static/sibbarps.jpg">
          </div>
          <h2>Sibbarps Saltsjöbad</h2>
          <p>Sibbarps Saltsjöbad är en populär baddestination belägen i utkanten av Malmö. Anläggningen har funnits sedan 1898 och har sedan dess varit en plats för avkoppling och rekreation för både lokala invånare och besökare från andra delar av Sverige och världen.

            Sibbarps Saltsjöbad har en vacker sandstrand, en brygga och en stor gräsmatta som är perfekt för picknickar och solbad. Det finns även en restaurang och en glasskiosk där man kan köpa</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="http://www.sibbarpssaltsjobad.se">Sibbarps Saltsjöbads webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="sport">
            <img src="../static/malmöbeachvolley.jpg">
          </div>
          <h2>Malmö Beachvolleybollklubb</h2>
          <p>Malmö Beachvolleyklubb är en populär klubb som ligger på Ribersborgsstranden i Malmö. Klubben har flera banor i sand och erbjuder möjlighet att spela beachvolleyboll både för nybörjare och erfarna spelare. Förutom att spela beachvolleyboll, kan besökare även delta i träningspass, läger och tävlingar. Klubben har en avslappnad atmosfär och är välbesökt under sommarsäsongen. En café- och loungeområde finns också på plats för att koppla av.</p>
          <p><a class="btn btn-default" href="...">Se på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.malmobeachvolley.se">Malmö Beachvolley Clubs webbsida</a></p>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>© 2023 Malmö Guiden</p>
    </footer>
  </div>

</body>

</html>