<!DOCTYPE html>
<html>

<head>
  <title>Uteliv</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Malmö Guiden</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('kontakt') }}"><span class="glyphicon glyphicon-user"></span> Kontakta oss</a></li>
          </ul>
         
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="#"><span class="glyphicon glyphicon-user"></span> Logga in</a></li>
          </ul>
          <img src="static/moon.png" id="icon" onklick="changeImage()">

        </div>
      </div>
    </nav>
    <div>
      <div class="bigmap">
        <iframe class="map" width= 1518px height= 320px frameborder="3" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.openstreetmap.org/export/embed.html?bbox=12.95644283294678%2C55.60555393225938%2C12.99661159515381%2C55.62089631976267&amp;layer=mapnik&amp;marker=55.61322587638706%2C12.976527214050293"
          style="border: 3px solid black">
        </iframe>
    </div>
    <div class="main">
      <div class="row">
        <div class="first_row">
          <div class="col-sm-4">
            <div class="Sevärdheter_Malmö">
              <img src="../static/moriskan.jpg">
            </div>
            <h2>Moriska Paviljongen</h2>
            <p>Moriska Paviljongen är en historisk byggnad i Malmö som idag fungerar som en plats för konserter,
              klubbar, evenemang och restauranger. Byggnaden byggdes 1902 i nordafrikansk stil och var ursprungligen en
              del av en utställning om Marocko. Under åren har paviljongen haft olika funktioner och var under en tid
              även en biograf. Idag är Moriska Paviljongen en populär scen för musik och kultur och har en stor
              utomhusscen och flera barer och restauranger på området. Besökare kan njuta av en unik atmosfär och
              uppleva en mängd olika evenemang, från musikfestivaler till klubbar och föreställningar.</p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.59371%2C13.01361">Se
                på kartan</a></p>
            <p><a class="btn btn-default" href="https://moriskapaviljongen.se/">Moriskans webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="Boenden">
              <img src="../static/babel.jpg">
            </div>
            <h2>Babel</h2>
            <p>Babel Malmö är en populär konsert- och klubbscen belägen i den multikulturella stadsdelen Möllevången.
              Här arrangeras konserter och klubbevent med varierande musikstilar såsom rock, indie, elektronisk musik,
              hip-hop och reggae. Babel Malmö är också känt för sina tema- och danskvällar, comedy shows och
              filmvisningar. Scenen har en unik och intim atmosfär och har lockat många internationella och svenska
              artister sedan öppnandet år 2003. Utöver kultur- och musikevenemang erbjuder Babel Malmö också en
              restaurang och bar. </p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.59610%2C13.01088#map=17/55.59610/13.01048">Se
                på kartan</a></p>
            <p><a class="btn btn-default" href="https://babelmalmo.se/">Babels webbsida</a></p>
          </div>
          <div class="col-sm-4">
            <div class="restaurang">
              <img src="../static/mässingshornet.jpg">
            </div>
            <h2>Mässingshornet</h2>
            <p>Mässingshornet är en konsertlokal och bar belägen i hjärtat av Malmö. Lokalen är inrymd i en källare och
              har en intim och mysig atmosfär. Mässingshornet är känt för att ha en bred musikalisk repertoar och
              arrangerar regelbundet livekonserter med både lokala och internationella artister. Utöver musiken erbjuder
              Mässingshornet också en rad olika drycker och snacks för att göra kvällen komplett. Mässingshornet har
              blivit en populär samlingspunkt för musikälskare och nattlivsentusiaster i Malmö.</p>
            <p><a class="btn btn-default"
                href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.60911%2C13.03733#map=14/55.6085/13.0188">Se
                på kartan</a></p>
            <p><a class="btn btn-default"
                href="https://www.facebook.com/massingshornet.kirseberg/?locale=sv_SE">Mässinghornets webbsida</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="shopping">
            <img src="../static/bishopsarms.jpg">
          </div>
          <h2>The Bishop's Arms</h2>
          <p>The Bishop's Arms är en pub i centrala Malmö som har ett stort utbud av öl, whisky och annan sprit. Puben
            är inredd i brittisk stil och har en mysig atmosfär med mörkt trä, varma färger och mjuka fåtöljer. De har
            ett stort utbud av ölsorter från hela världen och organiserar ofta ölprovningar och andra evenemang. Maten
            är inspirerad av brittisk pubmat med en twist av svenska råvaror. The Bishop's Arms är ett populärt ställe
            bland både lokalbefolkning och turister och har ofta ett livligt nattliv. </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.6077%2C13.0004#map=17/55.60838/13.00008">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.bishopsarms.com/vara-pubar/malmo/gustav-adolfs-torg/">Bishop's
              arms webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="evenemang">
            <img src="../static/farihatten.jpg">
          </div>
          <h2>Far i Hatten</h2>
          <p>Far i Hatten är en pub belägen i centrala Malmö som är öppen för både lunch och middag. Puben har en stor
            utomhusterrass, en mysig inomhusmiljö och ett brett utbud av öl, vin och andra drycker. Far i Hatten
            erbjuder även ett brett utbud av mat från klassiska pubrätter till moderna rätter och har ofta live-musik på
            helgerna. Stället är populärt både bland lokalbefolkningen och besökare och är en av de mest välbesökta
            pubarna i Malmö. </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.59268%2C13.01423#map=13/55.6009/13.0073">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.farihatten.se/">Far i Hattens webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="uteliv">
            <img src="../static/inkonsts.jpg">
          </div>
          <h2>Inkonst</h2>
          <p>Inkonst är en kulturarena och ett konstnärligt centrum beläget i Malmö. Här finns flera scenrum som rymmer
            konserter, teaterföreställningar, dansföreställningar, performance och andra kulturevenemang. Inkonst är
            också en plats för experiment, där nya konstnärliga uttryck och samarbeten uppmuntras. Dessutom erbjuder
            Inkonst workshops och kurser inom olika konstnärliga områden. Baren på plats serverar drycker och enklare
            maträtter. Inkonst riktar sig till både konstnärer och kulturintresserade besökare i Malmö och har en
            spännande och varierad programverksamhet året runt. </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5940%2C13.0079#map=13/55.6015/13.0047">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://inkonst.com/en/">Inkonsts webbsida</a></p>
          <br>
        </div>
        <div class="col-sm-4">
          <div class="kultur">
            <img src="../static/Belle Epoque outside.jpg">
          </div>
          <h2>Belle Epoque</h2>
          <p>Belle Epoque är en fransk restaurang och vinbar i Malmö som serverar franska klassiker med en modern twist.
            Restaurangen ligger på Lilla Torg och erbjuder en varm och romantisk atmosfär. Här kan man avnjuta allt från
            ostron till klassiska kötträtter samt ett brett utbud av franska viner. Belle Epoque har även en
            uteservering på sommaren och har blivit en populär destination för både romantiska middagar och festliga
            sammankomster. </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5927%2C13.0064#map=13/55.6009/13.0030">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.facebook.com/BELLEcocktails/">Belle Epoques webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="dolda_pärlor">
            <img src="../static/grandmalmo.jpg">
          </div>
          <h2>Grand</h2>
          <p>Grand är en restaurang och nattklubb på möllevångstorget. Dem har en varierande meny som ändrar sig till
            säsongen. På Grand uppträder det ett stort urval av lokala och inrikes artister, såsom DJs, jazzgrupper,
            rockband och rappare. Senare under nattens gång öppnas dansgolvet upp och bjuder in på dans. Dem har en stor
            bar med kunniga bartenders och ett stort urval av exklusiva ölar och olika slags cider. </p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.6091%2C13.0007%3B55.5949%2C13.0098#map=15/55.6019/13.0052">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://www.grandmalmo.se/">Grands webbsida</a></p>
        </div>
        <div class="col-sm-4">
          <div class="sport">
            <img src="../static/lionbar.jpg">
          </div>
          <h2>Lionbar</h2>
          <p>
            Lion Bar är en bar i Malmö som ligger på Landbygatan. Baren erbjuder en avslappnad och mysig atmosfär med
            enkel men god mat och ett stort utbud av drycker. Lion Bar är känd för sin stora samling av whiskey och
            bourbon och har även ett stort utbud av billig gränges-öl, vin och cocktails. På sommaren kan gästerna njuta
            av dryckerna på baren uteservering. Lion Bar är populär bland både lokalbefolkningen och turister och är ett
            bra val för en avslappnad kväll med vänner eller för en drink efter middagen.</p>
          <p><a class="btn btn-default"
              href="https://www.openstreetmap.org/directions?engine=fossgis_valhalla_foot&route=55.60914%2C13.00066%3B55.60521%2C12.99798#map=16/55.6072/12.9990">Se
              på kartan</a></p>
          <p><a class="btn btn-default" href="https://lionbar.se/restauranger/lion-bar-malmo/">Lion bars webbsida</a>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>© 2023 Malmö Guiden</p>
    </footer>
  </div>
  <script>
    
    var icon = document.getElementById("icon");

    icon.onclick = function () {
    document.body.classList.toggle("dark-theme");
    if(document.body.classList.contains("dark-theme")){
      icon.src="static/sun.png";
    }else{
      icon.src="static/moon.png";
    }
  }

  </script>
</body>

</html>