body {
  background-color: var(--primary-color)!important;
}

:root{
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --tri-color: rgb(98, 98, 98);
  --quad-color: rgb(188, 188, 188);

}

.dark-theme{
  --primary-color: #000106;
  --secondary-color: #fff;
  --tri-color: rgb(188, 188, 188);
  --quad-color: rgb(98, 98, 98);
}

#icon{
  width: 30px;
  cursor: pointer;
}

.container {
  width: 100%!important;
  padding-left: 0%!important;
  padding-right: 0%!important;
  margin-right: 0%!important;
  margin-left: 0%!important;
}

.jumbotron {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0%!important;
  height: 450px!important;
  border-color: var(--primary-color);
  box-shadow: 0 4px 4px var(--tri-color);
  }
  .map{
    size:100%;
  }
.btn-default {
  background-color:var(--secondary-color)!important;
}
.main {
  margin-left: 2%;
  margin-right: 2%;
}
footer {
  margin-left: 2%;
}
h2 {
  font-weight: bold!important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
  margin-left: 0.5%;
  color: var(--secondary-color)!important;
}
.navbar {
  border-radius: 0%!important;
  margin-bottom: 0%!important;
  padding: 0.5%;
}

#regbutton .btn-default{
  margin-top: 10%;
  color: var(--primary-color)!important;
  text-shadow: 2px 2px 2px var(--tri-color)!important;
}
.background_reg {
  background-image: url('/static/register_bakgrund.jpeg');
  background-size: cover;
  height: 580px;
}
.form_reg {
  border-radius: 10%;
  background-color: var(--quad-color);
  padding: 10%;
}
.btn-default {
  color: var(--primary-color);
}
.reg_container {
  margin-left: 1%;
  margin-right: 1%;
  display: grid;
  justify-content: center ;
  
}
.custom-button {
  background-color: var(--primary-color) !important;
}
.btn-default:hover {
  background-color: var(--primary-color)!important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-radius: 0%;
}
.col-sm-4 {
  text-align: left;
}
.row {
  padding-top: 1.7%;
}
h1 {
  color: var(--primary-color)!important;
  font-weight: 600!important;
  text-shadow: 4px 4px 4px var(--secondary-color)!important;
  font-family:Arial, Helvetica, sans-serif!important;
  padding-top: 5%;
}
p {
  margin-left: 0.5%!important;
  color: var(--secondary-color)!important;
}
.restaurang img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
}
.Boenden img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
}

.Sevärdheter_Malmö img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
  
}

.shopping img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
}

.uteliv img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
}

.kultur img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
}

.dolda_pärlor img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
}

.sport img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
}

.evenemang img {
  width: 390px;
  border-radius: 5%;
  height:200px; 
  object-fit:cover; 
  overflow:hidden;
}

h3 {
  color:var(--primary-color)!important;
  font-weight: 600!important;
  text-shadow: 4px 4px 4px var(--secondary-color)!important;
}

a {
  color: var(--primary-color) !important;
  text-shadow: 2px 2px 2px var(--tri-color)!important;
}
a:hover {
  background-color:var(--primary-color) !important;
  color: var(--secondary-color)!important;
  text-shadow: 1px 1px 1px var(--quad-color)!important;
  border-radius: 7.5%;
}


